
params {
  config_profile_description = 'University of Adelaide Phoenix HPC cluster profile provided by nf-core/configs'
  config_profile_contact = 'Yassine Souilmi / Alexander Peltzer (@yassineS, @apeltzer)'
  config_profile_url = 'https://www.adelaide.edu.au/phoenix/'
}

#change below path to your user dir
singularity {
  enabled = true
  autoMounts = true
  cacheDir="/hpcfs/users/aXXXXXX/"
}

 
process {
   executor = 'slurm'
   clusterOptions="-N 1 -p skylake,icelake"
}

params {
  max_memory = 188.GB
  max_cpus = 64
  max_time = 72.h
}
