
params {
  config_profile_description = 'University of Adelaide Phoenix HPC cluster profile provided by nf-core/configs'
  config_profile_contact = 'Yassine Souilmi / Alexander Peltzer (@yassineS, @apeltzer)'
  config_profile_url = 'https://www.adelaide.edu.au/phoenix/'
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir="/hpcfs/users/a1717363/"
}

 
process {
   executor = 'slurm'
   clusterOptions="-N 1 -p skylake,icelake,highmem"
  withName: PROKKA {
    container = '/hpcfs/groups/acad_users/containers/prokka_1.14.6--pl5321hdfd78af_5.sif'
    executor = 'local'
    maxForks = 1
  }
  withName: GTDBTK_CLASSIFYWF {
    memory = '200G'
  }
}

params {
  max_memory = 188.GB
  max_cpus = 64
  max_time = 72.h
}

// Set custom cache directory
cache {
    dir = '/hpcfs/users/a1717363/containers/'
}
